.content {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;
    transform: translateY(-50%);
    animation-duration: 1s;
    animation-delay: 4s;
    animation-name: premierplan;
    animation-fill-mode: forwards;
}

.image {
    margin-top: 50px;
    margin-bottom: 80px;
    height: 150px;
}

p{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: nexa;
    text-align: center;
}
p 1{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: nexa;
    text-align: center;
}
